html body {
    background-color: rgb(248, 248, 248);
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

#lead-text {
    font-size: 1.25rem;
}

/* Social Links */
#leetcode-button {
    background-color: white;
    border-color: #fe8104;
    border-width: 2px;
    color: #fe8104;
    border-radius: 50%;
    width: 50px;
}
#leetcode-button:hover {
    background-color: #fe8104;
    color: white;
}

#youtube-button {
    background-color: white;
    border-color: #FF0100;
    border-width: 2px;
    color: #FF0100;
    border-radius: 50%;
    width: 50px;
    font-size: 21px;
}
#youtube-button:hover {
    background-color: #FF0100;
    color: white;
}

#linkedin-button {
    background-color: white;
    border-color: #0e76a8;
    border-width: 2px;
    color: #0e76a8;
    border-radius: 50%;
    font-size: 20px;
    width: 47.5px;
}
#linkedin-button:hover {
    background-color: #0e76a8;
    color: white;
}

#github-button {
    background-color: white;
    border-color: #000000;
    border-width: 2px;
    color: #000000;
    border-radius: 50%;
    font-size: 20px;
}
#github-button:hover {
    background-color: #000000;
    color: white;
}

#email-button {
    background-color: white;
    border-color: #516E81;
    border-width: 2px;
    color: #516E81;
    border-radius: 50%;
    font-size: 20px;
}
#email-button:hover {
    background-color: #516E81;
    color: white;
}

.horizontal-line {
    border-bottom: 1.5px solid #c9c7c7;
}

/* Skills */

#java-skill {
    background-color: #b52d2d;
    border: none;
    transition: 0.25s;
}

#java-skill:hover {
    background-color: #6b0000;
}

#swift-skill {
    background-color: #c55e22;
    border: none;
    transition: 0.25s;
}

#swift-skill:hover {
    background-color: #7e2f02;
}

#python-skill {
    background-color: #006bc8;
    border: none;
    transition: 0.25s;
}

#python-skill:hover {
    background-color: #00457a;
}

#js-skill {
    background-color: #a29a00;
    border: none;
    transition: 0.25s;
}

#js-skill:hover {
    background-color: #82762b;
}

#sql-skill {
    background-color: #565656;
    border: none;
    transition: 0.25s;
}

#sql-skill:hover {
    background-color: #2c2c2c;
}

#developer-skill {
    background-color: #001c78;
    border: none;
    transition: 0.25s;
}

#developer-skill:hover {
    background-color: #000a29;
}

#design-skill {
    background-color: #881486;
    border: none;
    transition: 0.25s;
}

#design-skill:hover {
    background-color: #640d61;
}

#skill-badge {
    font-size: medium;
}


/* Project Badges */

.py-badge {
    background-color: #3476AA;
}

.django-badge {
    background-color: #0d6042;
}

.git-badge {
    background-color: #888888;
}

.heroku-badge {
    background-color: #8460AA;
}

.aws-badge {
    background-color: #d46245;
}

.restapi-badge {
    background-color: #888888;
}

.htmlcss-badge {
    background-color: rgb(86,61,124);
}

.sql-badge {
    background-color: #d46245;
}

.postgresql-badge {
    background-color: #3B6C95;
}

.youtube-badge {
    background-color: #FF0100;
}

.featured-project {
    width: 75%;
}

#card-border {
    border-color: rgb(207, 207, 207);
}

.experience-text {
    margin-left: 75px;
    margin-top: -20px;
}

.link-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.link-img-container:hover .link-img {
    opacity: 0.3;
}

#about-me-tooltip-headers {
    display: inline-flex;
}

.see-more-btn-style {
    border: none;
    transition: 0.25s;
}

.see-more-btn-style:hover {
    background-color: #d8d8d8;
}

@media screen and (max-width: 768px) {
    .featured-project {
        width: 100%;
    }
    .experience-text {
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .custom-text-align {
      text-align: center;
    }
}
@media (min-width: 992px) {
    .custom-text-align {
      text-align: left;
    }
}
  