---
import FitnessSidebar from "../components/FitnessSidebar.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kealan Mawhinney - Fitness">
  <div class="fitness-page flex flex-col md:flex-row gap-6">
    <FitnessSidebar />

    <div class="flex-1">
      <h1 class="text-3xl font-bold mb-2">Fitness</h1>
      <p class="text-lg mb-8 italic text-zinc-300">"It is a shame for a man to grow old, without seeing the beauty and strength of which his body is capable." - Socrates</p>

      <div class="grid grid-cols-1 gap-6">
        <Card
          title="BMO Half Marathon 2025"
          description="Ran with family in my first race, the Vancouver BMO Half Marathon, along the Seawall and through Stanley Park!"
          src1="/src/assets/fitness/bmo-half-1.jpeg"
          src2="/src/assets/fitness/bmo-half-2.jpg"
          badge="PR: 1:59:51"
          loading="eager"
          date="May 4, 2025"
          filter="cardio"
          cardType="fitness"
        />
      </div>
    </div>
  </div>
</Layout>
