---
import Layout from "../../layouts/Layout.astro"
import PostImage from "../../components/PostImage.astro";
import { Image } from 'astro:assets';
---

<Layout title="Kealan Mawhinney - Codebagel">
  <a href="/projects" class="text-zinc-400 hover:underline flex items-center gap-2 mb-4">
    ← Back to Projects
  </a>

  <h1 class="text-3xl font-bold">Codebagel: Everything I've Learned, 70k Subscribers Later</h1>

  <p class="text-zinc-400 text-sm mt-2">Published on <time datetime="2025-02-08">February 8, 2025</time></p>

  <div class="mt-6">
    <a href="https://www.youtube.com/@codebagel" target="_blank" rel="noopener noreferrer"
       class="inline-block px-3 py-2 bg-zinc-800 border-2 border-zinc-700 font-medium text-zinc-300 rounded-md transition hover:bg-zinc-700">
       <i class="fa-solid fa-arrow-up-right-from-square mr-1"></i>
       Link to Channel
    </a>
  </div>

  <div class="mt-6 space-y-4">
    <h3 class="text-2xl font-bold">From 0 to 1,000</h3>

    <p>
      I started learning how to code by myself in late 2021, using every free online resource I could find. The internet made it incredibly easy to learn the fundamentals, with an abundance of learning materials available. But as I started transitioning into more complex topics, I noticed a big gap - there was a noticeable lack of visual-based learning. While a concept like recursion is complicated to explain in just words, using an animated diagram makes it easy for even a beginner to comprehend.
    </p>

    <p>
      That's why I started Codebagel. It killed two birds with one stone for me - I got to reinforce my newly-acquired coding knowledge, while also getting to work on a fun side hustle.
    </p>

    <PostImage 
      src="/projects/codebagel/codebagel-banner.png" 
      alt="Codebagel channel banner" 
      caption="Codebagel's channel banner, which has remained unchanged since the day I started the channel (April 19, 2022)."
    />

    <p>
      I started off with my first video, LeetCode in 2 Minutes, which got 93 views in the first 24 hours (yes I remember the exact number). I distinctly remember being super excited, thinking, <i>“Wow, so nearly 100 people saw my video, that's a lot!”</i>
    </p>

    <p>
      Over the next few weeks, I started creating more content. My goal was to try a bunch of different things, and see what stuck. My first videos focused on top 5 lists, coding language tutorials, technology comparisons, none of which broke the 100 views mark. Then, I created a video comparing two career paths I was interested in at the time: Software Engineering VS Product Management. This video ended up hitting 500 views, and made me realize that maybe the career-space was a better focus. So I tested that hypothesis by creating a video highlighting how much FAANG companies paid their engineers at the time.
    </p>

    <p>
      My hypothesis was correct; this video hit 10,000 views on the first day, and over the next week, shot up to 100,000 views. My channel jumped from 75 subscribers to 1,000, and I finally got the ability to monetize content.
    </p>

    <h3 class="text-2xl font-bold pt-4">The Struggle for Consistency</h3>

    <p>
      Having hit 1,000 subscribers just three months after I started the channel in April 2022, I set myself a new (way too ambitious) goal: to reach 10,000 subscribers by the end of 2022. I decided to take a strategic approach to this; my logic was that the people watching the video on FAANG salaries were likely prospective engineers, wanting to join those companies. So, I came up with content ideas tailored to that demographic.
    </p>

    <p>
      I ended up creating videos related to preparing for coding interviews, from learning data structures and algorithms to tailoring a resume. All of the videos consistently got around 10,000 - 20,000 views, which I was more than happy with, as they made me around $100 in YouTube ad revenue, which was my first revenue from the channel. Even though each video took around 15-20 hours of work, I loved the entire process, so it felt like I was getting paid to do something I already enjoyed.
    </p>

    <PostImage 
      src="/projects/codebagel/codebagel-videos.png" 
      alt="Screenshot showing some of my videos created during this time" 
      caption="These are some of the videos I made at the time. Now, they've all managed to grow tenfold - more on that below."
    />

    <p>
      I continued this process, uploading biweekly throughout the entire summer, and doubled from 1,000 subscribers to 2,000. If I'd continued at that rate, who knows, maybe I'd have actually hit that 10,000 goal by the end of the year. But, by the time I got to October 2022, I was getting so busy with school and interview prep for my first engineering internship, that I had to make a decision of where to invest my time. As much as I loved the channel, it wasn't worth sacrificing the other things, and so I decided to take a break from the channel… which lasted 8 whole months.
    </p>

    <p>
      I came back to the channel in April 2023, with more free time available after finishing final exams and having landed an internship at Amazon. In my absence, it had grown to almost 3,000 subscribers. My life was busier than the previous year, so instead of aiming to upload biweekly, I made a commitment to upload just once per month. Of course, I wasn't able to meet this, uploading closer to once every two months. Still, the channel kept growing steadily, reaching 6,500 by the end of 2023.
    </p>

    <p>
      However, as 2024 started, I had two more engineering internships lined up, school, personal commitments, and more. My channel was still only making around $100 per video, and with a busy year ahead, I made the tough decision to say good-bye to my channel.
    </p>

    <h3 class="text-2xl font-bold pt-4">Leaving Fate Up To The Algorithm</h3>

    <p>
      In April 2024, I had a week between when my first internship of the year ended and my next one began. During this week, I randomly thought to myself, “Hey let's check on the channel, see if maybe it's close to 10,000 subscribers yet.” I logged on, and when I saw the number, I had to do a triple-take to make sure my eyes were working:
    </p>

    <p>
      <b>I had hit 25,000 subscribers without even realizing.</b> Turns out, one of my old videos really took off, and as a result, YouTube's algorithm started pushing all my other videos even more.
    </p>

    <PostImage 
      src="/projects/codebagel/video-growth.png" 
      alt="Screenshot showing thousands of extra views on my video" 
      caption="This video, 'Top 7 Algorithms for Coding Interviews', jumped from under 100 views per day to well over 1,000. It's now at 500,000."
    />

    <p>
      After my shock wore off, another thought popped into my head: what if I've gotten emails from people? I had added a channel-dedicated email account when I first created it, just for fun, but I had never checked it over the past two years. Expecting to see maybe one or two emails from subscribers who stumbled across it, I received my second surprise of the day: <b>I had 100+ emails from companies who wanted to sponsor my videos.</b>
    </p>

    <p>
      Suddenly, with my videos getting thousands of views daily, and sponsors being willing to pay flat, upfront fees, I had a huge economic incentive to get back to making videos consistently. As busy as I was going to be with a full-time internship at Microsoft and summer courses, I figured the opportunity was too big to pass up.
    </p>

    <p>
      However, one thing I didn't consider was that working with sponsors meant I now had tight deadlines and creative constraints. The summer ended up being possibly the busiest of my life, working 80-hour weeks to try and balance everything I was doing. During this time, the channel's growth soared, and I ended up hitting 50,000 subscribers by the end of the summer.
    </p>

    <h3 class="text-2xl font-bold pt-4">The End?</h3>

    <p>
      One unexpected benefit that came as a result of my work with sponsors was getting to make some great professional connections. In fact, one of the relationships was such a good fit that it turned into a full-time job as a product lead at a tech startup.
    </p>

    <p>
      In September 2024, with my last semester of school to focus on and a new full-time job, I once again put the channel on hold. At this point, I had grown a bit burnt out anyways, as the channel turned away from being a hobby and more into a job.
    </p>

    <p>
      At the time of writing this, it's currently February 2025. The channel has grown to 65,000 subscribers, over 2.5 million views, and continues to grow at a slow but steady pace. My life has become increasingly busy, and with tons of other goals and pursuits, I feel like my time working on the channel has come to a natural end.
    </p>

    <p>
      Ultimately, I learned a huge amount from building this channel, and it will always have a special place in my heart for being the first true business I ever built.
    </p>
  </div>

  <Image src="/ktm-signature.png" alt="Signature" width="100" height="100" class="pt-8"/>
</Layout>